* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: #E2E8F0;
}

.header {
  text-align: center;
}

h1,
.card {
  border: 1px solid;
  background: #CBD5E1;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

h1 {
  display: inline-block;
  padding: 10px 20px;
  margin: 50px;
}



.card {
  padding: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}

.card > img {
  border-radius: 10px;
}

.passer {
  border: 5px solid gold;
}

.npasser {
  border: 5px solid #91a8c1;
}

.cards {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.card-title {
  margin-top: 10px;
}

.card-text {
  margin: 10px 0;
}

.card-text ul {
  list-style-type: none;
}

.card-text li {
  padding-top: 5px;
}

.dim {
  opacity: .2;
}

@media (min-width: 768px) {
  .card {
    text-align: inherit;
    display: flex;
  }

  .card img {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

}


@media (min-width: 1440px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
